
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.nav{
    position: absolute;
    overflow-y: hidden; 
    overflow-x: hidden;
    text-align: center;
}
.main {
    z-index: 5;
    top:0;
}
.alert-container{
    margin-left: 30%;
    margin-right: 30%;
    position: absolute;
    padding-top: 30px;
}


.gradient{
 
    padding-top: 20px;
    padding-bottom: 50px;
    background: #606c88;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88); 
  
}

.title{
 
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: white;
    font-size: 8em;
}
.title2{
   
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    color: white;
    font-size: 3.5rem;
}
.bouncy{
    animation:bouncy 10s infinite linear;
    position:relative;
    }
@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    45%{top:0em}
    46%{top:-0.4em}
    47%{top:0em}
    100%{top:0em;}
}

.search {
    color: white;
}
.addcontainer{
    padding-top: 30px;
}
.addbutton{
font-family: 'Gloria Hallelujah', cursive;
display:inline-block;
padding:0.25em 1em;
border:0.1em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
font-size: 1.8rem;
text-decoration:none;
font-weight:300;
color:#FFFFFF;
text-align:center;
transition: all 0.2s;
}
.addbutton:hover{
    color:#000000;
    background-color:#FFFFFF;
    }


@media all and (max-width:30em){
    .addbutton{
        display:block;
        margin:0.4em auto;
    }
        }
@media screen and (max-width: 769px) {
    .title{
        font-size: 4em;
        
    }
    .title2{

        font-size: 1.6rem;
        opacity: 0.8;
    }
    .gradient{
        padding-bottom: 20px;
        margin: 0;
    }
    .addbutton{
        font-size: 1rem;
        width: 15rem;
    }
    .addcontainer{
        padding-top: 5px;
    }
    .alert-container{
        margin-left: 15%;
        margin-right: 15%;
    }
  }
