
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.nav{
    position: absolute;
    overflow-y: hidden; 
    overflow-x: hidden;
    text-align: center;
}
.main {
    z-index: 5;
    top:0;
}
.alert-container{
    margin-left: 30%;
    margin-right: 30%;
    position: absolute;
    padding-top: 30px;
}


.gradient{
    background-image: url("/uploads/cover4.jpg");
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
    background-position: top center; 
    
  
}

.title{
 
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: white;
    font-size: 8em;
}
.title2{
   
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    color: white;
    font-size: 3.5rem;
}
@keyframes glowing {
    0% { box-shadow: 0 0 -10px #f8f8f8; }
    40% { box-shadow: 0 0 20px #ffffff; }
    60% { box-shadow: 0 0 25px #ffffff; }
    100% { box-shadow: 0 0 -10px #ffffff; }
    }
.glow {
        animation: glowing 5000ms infinite;
      }

.search {
    color: white;
}
.addcontainer{
    padding-top: 30px;
}
.addbutton{
font-family: 'Gloria Hallelujah', cursive;
display:inline-block;
padding:0.25em 1em;
border:0.1em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
font-size: 1.8rem;
text-decoration:none;
font-weight:300;
color:#FFFFFF;
text-align:center;
transition: all 0.2s;
}
.addbutton:hover{
    color:#000000;
    background-color:#FFFFFF;
    }


@media all and (max-width:30em){
    .addbutton{
        display:block;
        margin:0.4em auto;
    }
        }
@media screen and (max-width: 769px) {
    .title{
        font-size: 4em;
        
    }
    .title2{

        font-size: 1.6rem;
        opacity: 0.8;
    }
    .gradient{
        padding-bottom: 20px;
        margin: 0;
    }
    .addbutton{
        font-size: 1.3rem;
        width: 15rem;
    }
    .addcontainer{
        padding-top: 5px;
    }
    .alert-container{
        margin-left: 15%;
        margin-right: 15%;
    }
  }
